#!/usr/local/bin/perl -T
#########
# Author:     Magnus Manske (mm6@sanger.ac.uk)
# Group:      Team 112
#

package settings ;

require Exporter;
use warnings ;
use strict ;
use AutoLoader qw(AUTOLOAD);
our @ISA = qw(Exporter);
our @EXPORT = qw( 
	$execpath $datapath $genome_file $webroot $docroot $htmlpath $tooltitle
	$cgi_path $annotation_file $snp_file $robots_flag $use_db_index_cutoff $uniqueness_file 
	$use_sanger_cache $use_sanger_layout
	$use_mysql $mysql_server $mysql_port $mysql_user $mysql_password @mysql_dbs
);

# Tool title
our $tooltitle = 'LookSeq' ;

# The local file path to the CGI files
our $execpath = "/WWW/INTWEB_docs/cgi-bin/teams/team112/lookseq" ;

# The local file path to the directory containing the data (alignment databases, reference sequence etc.)
our $datapath = '../../../../data/teams/team112/solexa' ;

# The local file path to the HTML/JavaScript/i18n files
our $htmlpath = "/WWW/INTWEB_docs/htdocs/Teams/Team112/lookseq" ;

# The full URL of the directory containing the HTML/JavaScript/i18n files
our $webroot = "http://intwebdev.sanger.ac.uk/Teams/Team112/lookseq" ;

# The full URL of the directory containing the Perl files (this one, for example)
our $cgi_path = 'http://intwebdev.sanger.ac.uk/cgi-bin/teams/team112/lookseq' ;

# The file name of the reference sequence in FASTA format. The file must be in the $datapath directory
our $genome_file = '3D7_pm.fa' ;

# The file name of the uniqueness (like FASTA, but each "base" is a digit 0-9, with 0=unique and 9=uh-oh). The file must be in the $datapath directory
our $uniqueness_file = '3D7_pm.fastu' ;

# Internal index usage cutoff; leave unless you know what you're doing!
our $use_db_index_cutoff = 25000 ;

# The file name of the sequence annotation database. The file must be in the $datapath directory.
# Leave undefined if no annotation is given.
our $annotation_file = 'annotation.sqlite' ;

# The file name of the known SNP database. The file must be in the $datapath directory
# Leave undefined if no known SNP data is present.
our $snp_file = "snps.sqlite" ;

# MySQL settings, deactivated by default
our $use_mysql = 0 ;
our ( $mysql_server , $mysql_port , $mysql_user , $mysql_password , @mysql_dbs ) ;


# Allows/disallows indexing of the page by robots (set to 'noindex' if you don't want the page to show up on Google et al)
our $robots_flag = 'index, follow' ;

# Don't use index for database query if region is larger than this
$use_db_index_cutoff = 20000 ;

# Sanger-specific flags; don't change unless you know what you're doing
our $use_sanger_layout = 0 ;
our $use_sanger_cache = 0 ;

1 ;